<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="softwaretestingmaterial" thread-count="4" parallel="classes">
	<groups> <!-- Groups Control -->
        <run>
            <include name="HeaderTests" />
            <include name="ButtonTests" />
        <!-- </run> 
        <run> -->
        	<exclude name="HeaderTests"/>
        </run> 
    </groups>
    <parameter name="username" value="admin" />
    <parameter name="password" value="password" />
    <test name="testngTest">
         <classes>
            <class name="activities.TestActivity1" />
            <class name="activities.TestActivity2" />
            <class name="activities.TestActivity3" /> 
            <class name="activities.TestActivity5" /> 
            <class name="activities.TestActivity6" />
            <class name="activities.TestActivity7" /> 
            <class name="activities.TestActivity9" />
            <class name="activities.DemoOne" />
            <class name="activities.DemoTwo" /> 
        </classes> 
    </test>
</suite>